
.formSignUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
}
.formSignUp label{

    padding: 10px;
}
.formSignUp button{
    margin: 10px;
}
.formSignUp input{
    border-radius: 5px;
}
