/* TODO Add site wide styles */
body{
    background-color: #B7CADB;
}
footer{
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}

#luna {
    width: 6em;
    height: 6em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #F7F8E0;
    -webkit-box-shadow: 30px 10px 0 #F7F8E0;
    box-shadow: 30px 10px 0 #F7F8E0;
    margin-top: 1em;
    margin-left: 50%;
    position: absolute;
    z-index: -19;
    }



#gato{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
    height: 297px;
    width: 507.5px;
    margin-top: 2em;
    margin-left: 2em;
    z-index: 10;
    /* -webkit-animation: sprite-animation 1.2s steps(11,end) infinite;
    -moz-animation: sprite-animation 1.2s steps(11,end) infinite;
    -ms-animation: sprite-animation 1.2s steps(11,end) infinite; */
    animation: kat-animation 1.2s steps(16,end) infinite;
    }

@keyframes kat-animation {
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }
