.formWparer{
    background-color: rgb(210, 210, 218);
     position: absolute;
      width: 300px;
    margin:  250px;

}
.formSignUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formSignUp label{

    padding: 10px;
}
.formSignUp button{
    margin: 10px;
}
